* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 100%;
  list-style-type: none;
}

.container {
  background-color: hsl(212, 45%, 89%);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: hsl(220, 15%, 55%) 3px 3px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 15px 30px 15px;
  text-align: center;
  width: 20vw;
}



img {
  border-radius: 15px;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

.attribution {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 25vw;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 40vw;
  }
}

@media screen and (max-width: 480px){
  .card {
    width: 80vw;
  }
}